// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
    background: #fafafa;
}

.container-full-bg {
    height: 450px;
    background: url('https://i.pinimg.com/originals/44/80/c6/4480c6af707d0e13c7f66a9d6d378015.jpg')50% 50%, no-repeat;
}
